li.nav-item{
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 5px !important;
}
/* .dropdown-menu{
    left: -140px !important;
} */
.pointer{
    cursor: pointer !important;
}
.close{
    height: 0px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}
.open{
    height: 200px !important;
    padding: 10px !important;
    padding-bottom: 20px !important;
    transition: 0.1s ease-in-out;
}
.fontOne{
    font-size: 1rem !important;
    width: 100% !important;
    text-align: left !important;
}
.hover-end{padding:0;margin:0;font-size:75%;text-align:center;position:absolute;bottom:0;width:100%;opacity:.8}

.successBorder{
    border-bottom: 2px solid green;
}
.arrondi {
    border-radius: 15px;
}
#navLogo{
    width: 200px;
    height: 70px;
}
.btnTopBar{
    font-weight: 500;
    font-size: 1rem;
}
.topBar{
    margin-right: 0 !important;
    background:rgb(77, 77, 77); 
}
.nav-item {
    margin-right: 1rem !important;
}
.banner{
    background: url('../logo/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.shadow{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.253);
}
.description{
    min-height: 200px;
}
.description > img {
    width: 100px;
    height: 100px;
}
.description > h4 {
    color: rgb(77, 77, 77);
    font-weight: 500;
}